@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-primary {
    @apply inline-flex justify-center py-2 px-4 shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700
  }
  .btn-secondary {
    @apply inline-flex justify-center mr-2 py-2 px-4  shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700
  }
  .btn-login {
    @apply group relative w-full flex justify-center py-2 px-4 text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700
  }
  .form-input-search {
    @apply w-full pl-10 pr-4 py-2 rounded-lg shadow text-gray-600 font-medium focus:ring-indigo-500 focus:border-indigo-500 block
  }
}